<h2>Value Dimensions</h2>

<table>
  <% @opinion_dimensions.each do |dim| %>
    <tr>
      <td class="span-4 last">
        <%= link_to dim.name, dim %>
      </td>
      <td>
        <%= dim.type_s %>
      </td>
      <% if current_user %>
        <td>
          [
          <%= link_to 'Edit', edit_dimension_path(dim) %>
          <% if role? 'staff' %>
            | <%= link_to 'Delete', dim.valuable, :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
          ]
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


<% if role? 'staff' %>
  <h4>Facts</h4>
  <table>
    <% @fact_dimensions.each do |dim| %>
      <tr>
        <td class="span-4 last">
          <%= link_to dim.name, dim %>
        </td>
        <td>
          <%= dim.type_s %>
        </td>
        <td>
          <% if current_user and dim.name != "Price" %>
            [
            <%= link_to 'Edit', edit_dimension_path(dim) %> |
            <%= link_to 'Delete', dim.valuable, :confirm => 'Are you sure?', :method => :delete %>
            ]
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
