<h2>Value Dimensions</h2>

<table class="round has_border">
  <th>Name</th>
  <th>Type</th>
  <th>Ideal Value</th>
  <th>Ideal Weight</th>
  <% if current_user %><th></th><% end %>
  <% @opinion_dimensions.each do |dim| %>
    <% opinion = dim.valuable %>
    <tr class="<%= cycle("even", "odd") %>">
      <td>
        <%= dim.name %>
      </td>
      <td>
        <%= dim.type_s %>
      </td>
      <td>
        <% if dim.bool? %>
          <% yes = (opinion.total_ideal / opinion.num_ideals) > 0.5 %>
          <%= yes ? "Yes" : "No" if opinion.num_ideals > 0 %>
        <% else %>
          <%= display_bar( (opinion.total_ideal / opinion.num_ideals) -1, 4 ) if opinion.num_ideals > 0 %>
        <% end %>
      </td>
      <td>
        <%= display_bar( (opinion.total_weight / opinion.num_weights) -1, 4 ) if opinion.num_weights > 0 %>
      </td>
      <% if current_user %>
        <td>
          <%= edit_delete_dimension(dim) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
