<h2>Value Dimensions</h2>

<p>
  Here you will find the ideal values for each value dimension that is defined in the system. The ideal value is
  calculated as an aggregate of everyone's <%= link_to "belief system", beliefs_path %>.
</p>
<table class="round has_border">
  <th>Name</th>
  <th>Ideal Value</th>
  <th>Ideal Weight</th>
  <% if current_user %><th></th><% end %>
  <% @opinion_dimensions.each do |dim| %>
    <% opinion = dim.valuable %>
    <tr class="<%= cycle("even", "odd") %>">
      <td>
        <%= link_to dim.name, dim %>
        <%= set_belief_for(dim) %><%= show_tooltip_for dim %>
      </td>
      <td>
        <% if dim.bool? %>
          <% yes = (opinion.total_ideal / opinion.num_ideals) > 0.5 %>
          <%= yes ? "Mostly liked" : "Mostly disliked" if opinion.num_ideals > 0 %>
        <% else %>
          <span class='indicator'><%= dim.valuable.low_text %></span>
          <%= display_bar( (opinion.total_ideal / opinion.num_ideals) -1, 4 ) if opinion.num_ideals > 0 %>
          <span class='indicator'><%= dim.valuable.high_text %></span>
        <% end %>
      </td>
      <td>
        <%= display_bar( (opinion.total_weight / opinion.num_weights) -1, 4 ) if opinion.num_weights > 0 %>
      </td>
      <% if current_user %>
        <td>
          <%= edit_delete_dimension(dim) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
