<h2>Value Dimensions</h2>

<table>
  <% @opinions.each do |o| %>
    <tr>
      <td class="span-4 last">
        <%= link_to o.name, o %>
      </td>
      <% if current_user %>
        <td>
          [
          <%= link_to 'Edit', edit_dimension_path(o) %>
          <% if role? 'staff' %>
            | <%= link_to 'Delete', o, :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
          ]
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


<% if role? 'staff' %>
  <h4>Facts</h4>
  <table>
    <% @facts.each do |f| %>
      <tr>
        <td class="span-4 last">
          <%= link_to f.name, f %>
        </td>
        <% if current_user and f.name != "Price" %>
          <td>
            [
            <%= link_to 'Edit', edit_dimension_path(f) %> |
            <%= link_to 'Delete', f, :confirm => 'Are you sure?', :method => :delete %>
            ]
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
