<h2><%=h @dimension.name %></h2>
<% if @dimension.concepts.length > 0 %>
  This dimension affects:
  <ul>
    <% @dimension.concepts.each do |c| %>
      <li><%= link_to h(c.name), c %>
    <% end %>
  </ul>
<% end %>

<%
%>

Stats:
<ul>
  <li>Number of people who care: <%= @num_who_care %></li>
  <li>Importance: <%= show_ideal_weight_string @weight %></li>
  <li>Ideal value: <%= show_ideal_value_string @ideal, @dimension.valuable %></li>
  <li> Ideal weights and value by country:</li>
  <ul>
    <% @countries.each do |key, val| %>
      <li>
        <%= key %>:
        <%= show_ideal_value_string val[:ideal], @dimension.valuable %>
        and
        <%= show_ideal_weight_string val[:weight] %>
      </li>
    <% end %>
  </ul>
</ul>
<hr>
<%= render :partial => "shared/comments", :locals => { :commentable => @dimension } %>
<%= edit_delete_dimension(@dimension) %><%= set_belief_for(@dimension) %>