<h2>Edit Menu Item</h2>
<% semantic_form_for @entity, :html => { :multipart => true } do |f| %>
  <table>
    <tr>
      <td>      
        <% f.inputs do %> 
          <%= f.input :name %>  
          <%= f.input :concept, :label => "Category" %>
          <%= f.input :photo %>
          <%= f.input :desc, :label => "Description" %>  
        <% end %>
        <% f.buttons do %>
          <%= f.commit_button "Update" %>
        <% end %>
      </td>
      <td class="dimensions round">
        <% f.inputs do %> 
          <%= f.input :price %> 
          <table> 
            <% @entity.concept.fact_dimensions.each do |fact| %> 
              <tr>
                <% unless fact.name == 'Price' %>
                  <td>
                    <b><%= fact.name %></b>:
                  </td>
                  <td>
                    <% fact_value = FactValue.find_by_fact_id_and_entity_id fact.valuable, @entity %>
                    <% value = fact_value ? fact_value.value : nil %>
                    <% key = "dims[" + fact.id.to_s + "]" %>
                    <% if fact.bool? %>
                      <%= check_box_tag key, true , value %>
                    <% else %>
                      <%= text_field_tag key, value %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>