<h2>Listing Menu Items</h2>

<table class="round has_border">
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Admin</th>
  </tr>
  <% @entities.each do |entity| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= link_to entity.name, entity %></td>
      <td>
        <% num_dims_used, distance = entity.get_distance_from_ideal %>
        <%= show_distance_bar(num_dims_used, distance) %>
      </td>
      <td>
        [
          <%= link_to "Edit", edit_entity_path(entity) %> |
          <%= link_to "Delete", entity, :confirm => "Are you sure?", :method => :delete %>
        ]
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to "New Menu Item", new_entity_path %>