<h2>New Menu Item</h2>
<% semantic_form_for @entity, :html => { :multipart => true } do |f| %>
  <% f.inputs do %> 
    <%= f.input :name %>  
    <%= f.input :concept, :label => "Category" %>
    <%= f.input :price, :required => true %>
    <%= f.input :photo %>
    <%= f.input :desc, :label => "Description" %>  
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button "Add Menu Item" %>
  <% end %>
<% end %>