<%if @entity.photo.file?%>
  <center>
  <%= image_tag @entity.photo.url %>
  </center>
  <br>
<% end %>

<h2><%=h @entity.name %></h2>

<b>Price:</b>
<%=h FactValue.get_value(Dimension.find_by_name('+Price'), @entity).value %>

<% unless @entity.desc.blank? %>
  <br>
  <b>Description:</b>
  <%=h @entity.desc %>
<% end %>

<br><br>
<%= link_to "Back to " + @entity.concept.name, :controller => :concepts, :action => :show, :id => @entity.concept %>
