<%if @entity.photo.file? %>
  <center>
  <%= image_tag @entity.photo.url %>
  </center>
  <br>
<% end %>
<%
  from_10 = get_rating_from_10_for(@entity)
  from_10 = from_10 ? (" (" << "%.1f" % from_10 << "/10)") : ""
%>
<h2><%=h @entity.name << from_10 %></h2>   

<% unless @entity.desc.blank? %>
  <br>
  <b>Description:</b>
  <%=h @entity.desc %>
<% end %>
      
<table>
  <tr>
    <td>
      <% semantic_form_for :entity, :url => { :action => "rate", :id => @entity } do |f| %>
        <table class="ratings round">
          <th>Name</th>
          <th>Current ratings</th>
          <th><center>Your ratings</center></th>
          <% @entity.concept.opinion_dimensions.each do |dim| %>
            <% next if dim.bool? %>
            <tr>
              <td>
                <%= dim.name %>
                <%= edit_delete_dimension(dim) %><%= set_belief_for(dim) %><%= show_tooltip_for dim %>
              </td>
              <td>
                <% cr = CurrentRating.find_by_entity_id_and_opinion_id @entity, dim.valuable %>
                <% if cr %>
                  <%= display_bar( (cr.total_rating / cr.num_ratings) -1, 4 ) %>
                <% else %>
                  Not available...
                <% end %>
              </td>
              <td>
                <center>
                  <span class="indicator"><%= dim.valuable.low_text %></span>
                  <% val = Rating.get_value(current_user, @entity, dim.valuable) %>
                  <% for i in 1..5 %>
                    <%= radio_button_tag "dims[#{dim.id}]", i, val ? val == i : false %>
                  <% end %>
                  <span class="indicator"><%= dim.valuable.high_text %></span>
                </center>
              </td>
            </tr>
          <% end %>
          <tr>
            <td></td><td></td>
            <td>
              <center><%= f.submit "Apply Rating" %></center>
            </td>
          </tr>
        </table>   
      <% end %>
      <br><br>
      <%= link_to "Back to " + @entity.concept.name, :controller => :concepts, :action => :show, :id => @entity.concept %>
      <% if role? "manager" %>
        | <%= link_to "Edit", edit_entity_path(@entity) %>
      <% end %>
    </td>
    <td style="vertical-align:top;">
      <div class="dimensions round has_border">
        <% @ordinal_fact_values.each do |fv| %>
          <b><%= fv.fact.dimension.name %></b>: <%=h fv.templatize %>
          <br>
        <% end %>
        
        <% @boolean_fact_values.each do |fv| %>
          <li><%= fv.templatize %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

