<h1>Edit profile</h1>

<% semantic_form_for @user do |f| %>
  <% f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <hr>
    <%= f.input :first_name, :required => false %>
    <%= f.input :last_name, :required => false %>
    <%= f.input :birthday, :required => false, :start_year => 1920 %>
    <%= f.input :country, :required => false %>
  <% end %>
  <%= f.buttons %>
<% end %>