<h2>Edit profile</h2>

<% semantic_form_for @user do |f| %>
  <% f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password, :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <hr>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birthday %>
    <%= f.input :country %>
    <% if administrator? %>
      <hr>
      <%= f.input :roles %>
    <% end %>
  <% end %>
  <%= f.buttons %>
<% end %>