<h2>Listing users</h2>

<table class="has_border round">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Similarity</th>
    <th>Cos Similarity</th>
    <th>Calude Similarity</th>
    <th>Admin</th>
  </tr>

<% @users.each do |user| %>
  <tr class=<%=cycle "first", "second" %>>
    <% 
      name = user.full_name.blank? ? "N/A" : user.full_name
    %>
    <td><%= link_to h(name), user_path(user) %></td>
    <td><%=h user.email %></td>
    <td>
      <%= 
          similarity_bar(
            current_user.similarity(user)
            ) 
      %>
    </td>
    <td>
      <%= 
          similarity_bar(
            current_user.cos_similarity(user)
            ) 
      %>
    </td>
    <td>
      <%= 
          similarity_bar(
            current_user.calude_similarity(user)
            ) 
      %>
    </td>
    <td>
      [<%= link_to "Edit", edit_user_path(user) %>
      |
      <%= link_to "Delete", user, :confirm => "Are you sure?", :method => :delete %>]
    </td>
  </tr>
<% end %>
</table>
