<p>
  <b>Name:</b>
  <%=h @user.full_name %>
  <br>
  <b>Country:</b>
  <%=h @user.country %>
  <br>
  <b>Entities rated:</b>
  <%= @num_ratings %>
  <ul>
  <% @entities.each do |e| %>
    <li> Rated <%= link_to e.name, entity_path(e) %> <%= "%.1f"% @user.rating_for(e) %>/10</li>
  <% end %>
  </ul>
  
  
  <%= render :partial => "shared/show_beliefs", :locals => { :user => @user, :beliefs => @beliefs } %>
</p>

<%= link_to "Edit", edit_user_path(@user) %>