<h3>User comments</h3>
<% if commentable.comments.empty? %>
  No comments to display.
<% else %>
  <table class="dimensions round" style="width:400px; white-space:normal;">
    <% commentable.comments.each do |comment| %>
      <tr>
        <td>
          <% unless comment.title.blank? %>
            Title: <b><%=h comment.title %></b>
            <br>
          <% end %>
          <% if comment.user %>
            <i>By: <%=h comment.user.full_name %></i>
          <% else %>
            <i>By: Anonymous Monkey</i>
          <% end %>
          <% if (current_user and comment.user == current_user) || role?("administrator") %>
            <%= link_to "[Delete]", :controller => :comments, :action => :destroy, :id => comment, :confirm => "Are you sure?", :method => :delete %>
          <% end %>
        </td>
      </tr>
      <tr class="ratings round" style="white-space:normal;">
        <td>
          <%=h comment.body %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<% if current_user %>
  <br>
  <h4>Add Comment</h4>
  <% semantic_form_for [commentable, Comment.new()] do |f| %>
    <% f.inputs do %>
      <%= f.input :title %>
      <%= f.input :body %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button "Add Comment" %>
    <% end %>
  <% end %>
<% end %>