<h2>Edit Fact</h2>
<% semantic_form_for @fact do |f| %>
  <% f.inputs :for => :dimension do |dim| %> 
    <% if @fact.dimension.name == "Price" %>
      Cannot edit fact 'Price'
    <% else %>
      <%= dim.input :name %>
    <% end %>
    <%= f.input :template %>
    <%= dim.input :desc %>
    <%= dim.input :concepts, :label => "Apply to:" %>
    <%= dim.input :edited_by, :as => :hidden %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button "Update" %>
  <% end %>
<% end %>