<h2>Help</h2>
<p>Welcome to a social experiment. To read about what research the experiment is based on, please go to the
<%= link_to "about", "/about" %> page.</p>
<p>
  <b>There are 3 ways this website can be used:</b>
  <ol>
    <li><a href="#1">Just to see what the Queen's Ferry has to offer.</a></li>
    <li><a href="#2">To rate and tell the world what you thought of what it offers.</a></li>
    <li><a href="#3">To defined and be part of what it should offer. This also enabled advanced recommendations.</a></li>
  </ol>
</p>

<p>
  <b>Frequently Asked Questions</b>
  <ol>
    <li><a href="#4">What are those little icons everywhere?</a></li>
  </ol>
</p>

<hr>

<a name="1">&nbsp;</a><h3>I just want to see</h3>

<p>Just browse on over to the <%= link_to "menu", concept_path(1) %> and look at the offerings.</p>

<a name="2">&nbsp;</a><h3>I want to rate stuff</h3>

<p><%= link_to "Sign up", signup_path %> and then browse on over to the menu, and rate anything you want.</p>

<a name="3">&nbsp;</a><h3>I want to define stuff</h3>

<p>For that you will need to <%= link_to "create an account", signup_path %> (free, fast and simple) and then
you will be able to define what you value in any and all the items the Queen's Ferry has to offer. 
Do you think the amount of salt is important? Do you think the crispiness is important?
Great! You can do that! All you have to do is
define your very own <i>value dimensions</i> which is fast and easy.</p>


<a name="4">&nbsp;</a><h3>What are those little icons everywhere?</h3>

<p>The little icons are there to help you. The <%= image_tag "tooltip.gif" %> icon gives you information to
help you use the site better. Roll the mouse over and you'll see the information. The <%= image_tag "belief.gif" %>
icon allows you to set what you believe is the ideal value for a dimension. You have to be registered and
signed in to use that though.</p>