<h2>Welcome</h2>

<table>
  <tr>
    <td style="vertical-align:top;">
      <p>
      Welcome to the Queen's Ferry Hotel, the oldest pub in Auckland.
      </p>
      <center>
      <%= image_tag "theferry.png" %>
      </center>
    </td>
    <td style="vertical-align:top;">
      <% unless current_user %>
        <%= link_to "Sign up", signup_path, :class => "signup_button round" %>
        <br><br>
      <% end %>
      <table class="round has_border" style="white-space: nowrap;">
        <th>Our best <%= @top %> menu items.</th>
        <% 
          count = 0
          @topten.each do |entity| 
          rating = get_rating_from_10_for entity
          next unless rating
          count += 1
        %>
          <tr class="<%= cycle("first", "second") %>">
            <td>
              <%= count.to_s + ") " %>
              <span title="<%=h entity.desc %>">
              <%= link_to h(entity.name), entity_path(entity) %>
              </span>
              <%= " (#{'%.1f' % rating}/10)" %>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

