<h2>Welcome</h2>

<table>
  <tr>
    <td style="vertical-align:top;">
      <p>
      Welcome to the Queen's Ferry Hotel, the oldest pub in Auckland.
      </p>
      <%= image_tag "theferry.jpg", :class=>"has_border round" %>
    </td>
    <td style="vertical-align:top;">
      <% unless current_user %>
        <%= link_to "Sign up", signup_path, :class => "signup_button round" %>
      <% end %>
      <br><br>
      <table class="round has_border">
        <th>Our best <%= @top %> menu items.</th>
        <% 
          count = 0
          @topten.each do |entity| 
          rating = get_rating_from_10_for entity
          next unless rating
          count += 1
        %>
          <tr class="<%= cycle "odd", "even" %>">
            <td>
              <%= count.to_s + ") " %>
              <span title="<%= entity.desc %>">
              <%= link_to entity.name, entity_path(entity) %>
              </span>
              <%= " (#{'%.1f' % rating}/10)" %>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

