<h3><%=h @concept.name %></h3>

<table>
<% @concept.entities.each do |entity| %>
  <tr>
    <td>
      <li> <%= link_to entity.name, entity_path(:id => entity) %>
      (
      $<%= FactValue.get_value(Dimension.find_by_name('Price'), entity).value %>
      )
    </td>
    <% if role? 'manager' %>
      <td>
        [
        <%= link_to 'Edit', edit_entity_path(entity) %> |
        <%= link_to 'Delete', entity, :confirm => 'Are you sure?', :method => :delete %> 
        ]
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to "Back to Menu", concepts_path %>
  