<% tabnav :menu do %>
  <table>
    <tr>
      <td width=100% style="vertical-align: top;">
        <table class="round has_border">
          <tr>
            <th/>
            <th>
              <center>
                Rating
                <% tooltip do %>
                  <p>This column shows you how close to perfection the item is</p>
                <% end %>
              </center>
            </th>
            <% if role? "manager" %>
            <th/>
            <% end %>
          </tr>
          <% @concept.sorted_entities.each do |entity| %>
            <tr class="<%= cycle("even", "odd") %>">
              <td>
                <li> <%= link_to entity.name, entity_path(entity) %> 
                (
                $<%= FactValue.get_value(Fact.find_by_name("Price"), entity).value %>
                )
              </td>
              <td>
                <center>
                  <% num_dims_used, distance = entity.get_distance_from_ideal %>
                  <%= show_distance_bar(num_dims_used, distance, entity_path(entity)) %>
                </center>
              </td>
              <% if role? "manager" %>
                <td>
                  [
                  <%= link_to "Edit", edit_entity_path(entity) %> |
                  <%= link_to "Delete", entity, :confirm => "Are you sure?", :method => :delete %> 
                  ]
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </td>
      <td style="vertical-align: top;">
        <div class="dimensions round">
          <h4>Associated values:</h4>
          <% @concept.opinion_dimensions.each do |dim| %>
            <li><%= dim.name %>
            <%= edit_delete_dimension(dim) %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
  <%= link_to("Edit", edit_concept_path(@concept)) if role? "manager"%>
<% end %>
  