<h2><%=h @concept.name %></h2>
<table>
  <tr>
    <td width=100% style="valign:top;">
      <table>
        <% @concept.entities.each do |entity| %>
          <tr>
            <td>
              <li> <%= link_to entity.name, entity_path(entity) %>
              (
              $<%= FactValue.get_value(Fact.find_by_name('Price'), entity).value %>
              )
            </td>
            <% if role? 'manager' %>
              <td>
                [
                <%= link_to 'Edit', edit_entity_path(entity) %> |
                <%= link_to 'Delete', entity, :confirm => 'Are you sure?', :method => :delete %> 
                ]
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </td>
    <td>
      <div class="dimensions round">
        <h4>Associated values:</h4>
        <% @concept.opinion_dimensions.each do |dim| %>
          <li><%= dim.name %>
        <% end %>
        <% if role? 'staff' %>
          <br><br><hr>
          <h4>Facts</h4>
          <% @concept.fact_dimensions.each do |dim| %>
            <li><%= dim.name %>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<%= link_to "Back to Menu", concepts_path %>
  