<h2>Belief System</h2>

<% semantic_form_for :belief, :url => { :action => "update" } do |f| %>
  <table id="beliefs" class="ratings round">
    <th>Dimension Name</th>
    <th><center>Your ideal value</center></th>
    <th><center>How important?</center></th>
    <% Dimension.opinion_dimensions.each do |dim| %>
      <tr>
        <td>
          <%= dim.name %> <%= edit_delete_opinion_dimension(dim) %>
          <% ideal_key = "ideals[#{dim.id}]" %>
          <% weight_key = "weights[#{dim.id}]" %>
          <% belief = Belief.find_by_opinion_id_and_user_id dim.valuable, current_user %>
          <% ideal = belief.ideal if belief %>
          <% weight = belief.weight if belief %>
          <%= hidden_field_tag ideal_key, "" %>
        </td>
        <td>
          <center>
            <% unless dim.bool? %>
              <span class="indicator"><%= dim.valuable.low_text %></span>
              <% for i in 1..5 %>
                <%= radio_button_tag ideal_key, i, ideal ? ideal == i : false %>
              <% end %>
              <span class="indicator"><%= dim.valuable.high_text %></span>
            <% else %>
                <%= check_box_tag ideal_key, true, ideal %>
            <% end %>
          </center>
        </td>
        <td>
          <center>
            <span class="indicator">I care not</span>
            <% for i in 1..5 %>
              <%= radio_button_tag weight_key, i, weight ? weight == i : false %>
            <% end %>
            <span class="indicator">Vital</span>
          </center>
        </td>
      </tr>
    <% end %>
  </table>
  <%= f.submit "Update Beliefs" %>
<% end %>
