<h2>Belief System</h2>

<p>
  Your belief system tells us <b>what you value</b> and what you think is important. <b>You decide</b>.
  For each value dimension that has been created, you may define which value you prefer, and how important that
  value dimension is to you.
</p>

<p>
  Move the mouse over the question mark icon next to each value dimension to see which menu categories that value
  dimension affects, and it's description.
</p>

<% semantic_form_for :belief, :url => { :action => "update" } do |f| %>
  <table id="beliefs" class="ratings round">
    <th>Dimension Name</th>
    <th><center>Your ideal value</center></th>
    <th><center>How important?</center></th>
    <% Dimension.opinion_dimensions.each do |dim| %>
      <% next unless dim.enabled? %>
      <tr>
        <td>
          <%=h dim.name %> <%= edit_delete_dimension(dim) %>         
          <%= show_tooltip_for dim %>
          <% ideal_key = "ideals[#{dim.id}]" %>
          <% weight_key = "weights[#{dim.id}]" %>
          <% belief = Belief.find_by_opinion_id_and_user_id dim.valuable, current_user %>
          <% ideal = belief.ideal if belief %>
          <% weight = belief.weight if belief %>
        </td>
        <td>
          <center>
            <%= send(dim.bool? ? :show_booler : :show_rater, dim, ideal_key, ideal) %>
          </center>
        </td>
        <td>
          <center>
            <span class="indicator">I care not</span>
            <% for i in 1..5 %>
              <%= radio_button_tag weight_key, i, weight ? weight == i : false %>
            <% end %>
            <span class="indicator">Vital</span>
          </center>
        </td>
      </tr>
    <% end %>
  </table>
  <span style="float:right; clear:both;"><%= f.submit "Update Beliefs" %></span>
  <br>
<% end %>
