<%= link_to logo, root_path %>
<ul class="navigation round">
  <li><%= link_to "Home", root_path %></li>
  <% if current_user %>
    <li><%= link_to "Edit profile", edit_user_path(:current) %></li>
    <li><%= link_to "Sign out", signout_path %></li>
  <% else %>
    <li><%= link_to "Sign in", signin_path %></li>
    <li><%= link_to "Sign up", signup_path %></li>
  <% end %>
  <li><%= link_to "Help", help_path %></li>
</ul>  
<p class="main_title">The Queen's Ferry Hotel</p>