<!DOCTYPE html PUBLIC "-//WTC//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1//DTD/xhtml1-strict.dtd">
 
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <%= render 'layouts/header' %>
      </div>
      <table>
        <tr>
          <td class="menu">
            <div id="menu" class="round">
              <%= render 'layouts/main_menu' %>
            </div>
          </td>
          <td class="content round">
            <div id="content">
              <%= yield %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <div id="footer" class="round">
              <%= render 'layouts/footer' %>
            </div>
          </td>
        </tr>
      </table>
      <%= debug params if Rails.env.development? %>
    </div>
  </body>
</html>